<h1>Cohorts#index</h1>
<%= link_to 'add new cohort', new_cohort_path %>
<table>
<tr>
  <th>Cohort name</th>
  <th>Start date</th>
  <th>End date</th>
  <th>Instructor</th>
  <th>course name</th>

</tr>

<% @cohorts.each do |cohort| %>
<tr>
  <td><%= cohort.cohort_name %></td>
  <td><%= cohort.start_date %></td>
  <td><%= cohort.end_date %></td>
  <td><%= cohort.instructor.full_name if cohort.instructor %></td>
  <td><%= cohort.course.coursename if cohort.course %></td>



  <td><%= link_to 'Show', cohort_path(cohort) %></td>
  <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
  <td><%= link_to 'Delete', cohort_path(cohort), method: :delete,
  data: { confirm: 'are you sure?'} %></td>


</tr>
<% end %>
</table>
