<%= link_to 'Back', instructor_path %>

<p>
  <strong>first name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>last name:</strong>
  <%= @instructor.last_name %>
</p>
<p>
  <strong>age:</strong>
  <%= @instructor.age %>
</p>
<p>
  <strong>salary:</strong>
  <%= @instructor.salary %>
</p>
<p>
  <strong>education:</strong>
  <%= @instructor.education %>
</p>
