<!DOCTYPE html>
<html>
  <head>
    <title>Pamela</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= link_to 'add student', new_student_path %>
    <%= link_to 'add course', new_course_path %>
    <%= link_to 'Course list', courses_path %>
    <%= link_to 'Student list', students_path %>
    <%= link_to 'home', root_path %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
